				<h4>Online Users</h4>
				<% users = User.where(["last_request_at > ?", 5.minutes.ago]).order("last_request_at DESC").limit(6) %>
<ul class="gallery">
				<% for user in users %>
					<li><%= link_to image_tag(user.photo.url(:thumb), :title => user.username), user %></li>
				<% end %>
</ul>
